.landing {
  overflow-y: hidden;
}

.mainSection {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

.mainSection.center,
.mainSection.right,
.mainSection.left,
.mainSection.pic,
.mainSection.center2 {
  color: white;
  background-color: black;
}

.mainSection h2,
.mainSection p {
  font-family: 'PT Sans', sans-serif;
}

.mainSection.center2 h2 {
  position: relative;
  font-size: 80px;
  text-align: center;
  margin-top: 350px;
}

.mainSection.center h2 {
  position: relative;
  font-size: 150px;
  margin-left: 200px;
  margin-top: 350px;
  z-index: 1;
}

.mainSection.center p {
  font-size: 80px;
  margin-left: 335px;
  margin-top: 30px;
  z-index: 1;
}


.mainSection.left h2,
.mainSection.right h2 {
  font-size: 80px;
}

.mainSection.left p,
.mainSection.right p {
  font-size: 20px;
  line-height: 25px;
  margin-top: 20px;
}

.mainSection.pic p {
  font-size: 20px;
}


.text1 {
  text-align: justify;
  margin-top: 12%;
  margin-left: 1100px;
  width: 500px;
}

.text2 {
  text-align: justify;
  margin-top: 15%;
  margin-left: 1100px;
  width: 500px;
}

.text3 {
  text-align: justify;
  margin-top: 18%;
  margin-left: 300px;
  width: 580px;
}

.text4 {
  text-align: justify;
  margin-top: 16%;
  margin-left: 1100px;
  width: 500px;
}

.text5 {
  text-align: justify;
  margin-top: 5%;
  margin-left: 300px;
  width: 650px;
}

.text6 {
  text-align: justify;
  margin-top: 800px;
  margin-left: 300px;
  width: 711px;
}

.text7 {
  text-align: justify;
  margin-top: 800px;
  margin-left: 300px;
  width: 650px;
}


/*@media screen and (max-width: 1500px) {

  .mainSection {
    width: 1500px;
    height: 1000px;
  }

  .mainSection.left h2,
  .mainSection.right h2 {
    font-size: 30px;
  }

  .mainSection.left p,
  .mainSection.right p {
    font-size: 18px;
  }

  .text1 { width: 450px; }

  .text2 { width: 511px; }

  .text3 { width: 450px; }

  .text4 { width: 511px; }

  .text5 { width: 450px; }

  .text6 { width: 511px; }

  .text7 { width: 450px; }

}

@media screen and (max-width: 1024px) {

  .text1 { width: 400px; }

  .text2 { width: 450px; }

  .text3 { width: 400px; }

  .text4 { width: 450px; }

  .text5 { width: 400px; }

  .text6 { width: 450px; }

  .text7 { width: 400px; }

}*/
